<?xml version="1.0" encoding="utf-8"?>
<NuPackConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PackArgs>
    <OutputDirectory>C:\Users\Administrator\source\repos\CustomTabControl\bin\NuPack</OutputDirectory>
    <IncludeSymbols>true</IncludeSymbols>
    <IncludeSource>false</IncludeSource>
    <NoBuild>false</NoBuild>
    <NoDependencies>false</NoDependencies>
    <IncludeReferencedProjects>false</IncludeReferencedProjects>
  </PackArgs>
  <SymbolServers />
</NuPackConfig>